
.sidebar{
    width: 15rem;
    height: 100vh;
    background-color: red;
    flex-wrap: wrap;
}

.link {
    background-color: purple;
    padding: 5px;
}

.link a{
    background-color: blue;
    width: 4rem;
    height: 3rem;
    
}