.registerContainer {
    display: flex;
    background-color: #eeeeee;
}

.registerContainer .back {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;

    & svg {
        font-size: 3em;
    }

    &:hover svg {
        transform: translateX(-3px);
        transition: 0.2s ease-in-out;
    }

    & span {
        font-size: 1.2em;
        text-decoration: underline;
    }

}

.registerContainer .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    width: 50%;

    & .textField {
        margin: 10px;
        background-color: white;
        width: 100%;
    }

    & button {
        width: 100%;
        margin: 0 10px;
    }

    & .login {
        color: black;
    }

    & form .row {
        display: flex;
    }

    & .title {
        margin-left: 10px;
    }

    & .error {
        width: 100%;
        color: red;
        text-align: center;
        font-weight: bold;
    }
}

.registerContainer .image {
    height: 100vh;
    width: 50%;

    border-radius: 200px 0 0 0px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    overflow-y: hidden;
}

@media screen and (max-width: 768px) {
    .registerContainer .image {
        display: none;
    }

    .registerContainer .register {
        width: 100%;
    }

    .registerContainer .register form .row {
        flex-direction: column;
        margin: 0;
    }

    .registerContainer .register .textField {
        margin: 5px 0;
    }

    .registerContainer .register button {
        margin: 5px 0;
    }

    .registerContainer .register .title {
        font-size: 1.3em;
        margin-left: 0;
        margin-bottom: 10px;
    }
}